html {
  background-color: black;
}

.cal-btn {
  border: none;
  border-radius: 20rem;
  padding: 0.8rem;
  width: 6%;
  height: 10%;
  background-color: rgb(73, 73, 73);
  color: white;
  font-size: 1.7rem;
}

.op-btn {
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  width: 6vmin;
  height: 6vmin;
  background-color: rgb(219, 125, 3);
  color: white;
  font-size: 1.7rem;
}
